[
{% for obj, player in players.items() if player.op_level > 0 %}
  {
    "name": "{{ player.username }}",
    "uuid": "{{ player.uuid }}",
    "level": {{ player.op_level }},
    "bypassesPlayerLimit": true
  }{{ "," if not loop.last else "" }}
{% endfor %}
]
